{% extends 'base.html.twig' %}

{% block title %}Medicament{% endblock %}

{% block body %}
    <h1>Medicament</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ medicament.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medicament_index') }}">back to list</a>

    <a href="{{ path('app_medicament_edit', {'id': medicament.id}) }}">edit</a>

    {{ include('medicament/_delete_form.html.twig') }}
{% endblock %}
