{% extends 'base.html.twig' %}

{% block title %}Demandes index{% endblock %}

{% block body %}
    <h1>Demandes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.datetime ? demande.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande.etat }}</td>
                <td>
                    <a href="{{ path('app_demandes_show', {'id': demande.id}) }}">show</a>
                    <a href="{{ path('app_demandes_edit', {'id': demande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demandes_new') }}">Create new</a>
{% endblock %}
