{% extends 'base.html.twig' %}

{% block title %}Assistant{% endblock %}

{% block body %}
    <h1>Assistant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assistant.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ assistant.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ assistant.roles ? assistant.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ assistant.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_assistant_index') }}">back to list</a>

    <a href="{{ path('app_assistant_edit', {'id': assistant.id}) }}">edit</a>

    {{ include('assistant/_delete_form.html.twig') }}
{% endblock %}
